DATABASE_URL=
PULSE_API_KEY=
MOCK_SEND_EMAIL=
SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
UPLOADTHING_APP_ID=
UPLOADTHING_SECRET=
UPLOADTHING_TOKEN=
DEMO_USER_EMAIL=
NEXT_PUBLIC_APP_URL=
